<div class="blogNav bg-secondary">
  <div class="container d-flex justify-content-between align-items-center">
    <ul class="d-flex">
      <li class="me-5"><a class="fs-5 fw-bold" href="blog.html">最新消息</a></li>
      <li class="me-5"><a class="fs-5 fw-bold" href="special.html">特別企劃</a></li>
      <li class="me-5"><a class="fs-5 fw-bold" href="#">新品上市</a></li>
      <li><a class="fs-5 fw-bold" href="#">鏡框小知識</a></li>
    </ul>
    <a class="icon" href="#"><i class="icon icon-search icon-1"></i></a>
  </div>
</div>