<div class="productsNav container">
  <ul class="d-flex justify-content-between">
    <li><a class="text-dark fw-medium text-center pt-3 pb-2" href="productsOptical.html">OPTICAL</a></li>
    <li><a class="text-dark fw-medium text-center pt-3 pb-2" href="productsSunglass.html">SUNGLASSES</a></li>
    <li><a class="text-dark fw-medium text-center pt-3 pb-2" href="#">FUNCTIONAL</a></li>
  </ul>
</div>