<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="banner-title container d-flex justify-content-end align-items-center">
        <div class="text-end">
          <p class="fs-3 text-secondary">Promise-Desert 2020 早春系列</p>
          <h2 class="fs-1 fw-bold text-secondary">看得清，才能看得遠</h2>
          <button type="button" class="fs-5 fw-medium bg-primary text-light">立即購買</button>
        </div>
      </div>
    </div>

    <div class="serve bg-info py-6">
      <div class="container">
        <h2 class="fs-2 fw-bold text-secondary text-center mb-4">用專業的心，做專業的事</h2>
        <ul class="d-flex justify-content-between text-center">
          <li>
            <img src="../assets/images/Index-page/home-section2-1.png" width="100" height="100" alt="">
            <h3 class="fs-4 fw-bold text-secondary mt-2 mb-1">單一價格</h3>
            <p class="text-start">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img src="../assets/images/Index-page/home-section2-2.png" width="100" height="100" alt="">
            <h3 class="fs-4 fw-bold text-secondary mt-2 mb-1">20 分鐘即可取件</h3>
            <p class="text-start">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li>
            <img src="../assets/images/Index-page/home-section2-3.png" width="100" height="100" alt="">
            <h3 class="fs-4 fw-bold text-secondary mt-2 mb-1">安心售後服務</h3>
            <p class="text-start">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li>
            <img src="../assets/images/Index-page/home-sectioin2-4.png" width="100" height="100" alt="">
            <h3 class="fs-4 fw-bold text-secondary mt-2 mb-1">關於鏡片</h3>
            <p class="text-start">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="category container py-6">
      <h2 class="fs-2 fw-bold text-center text-secondary mb-5">經典系列鏡框</h2>
      <ul class="d-flex justify-content-between">
        <li>
          <img src="../assets/images/Index-page/home-section3-1.png" alt="" class="mb-1">
          <p class="fs-2 fw-bolder fst-italic text-primary text-center">OPTICAL</p>
        </li>
        <li>
          <img src="../assets/images/Index-page/home-section3-2.png" alt="" class="mb-1">
          <p class="fs-2 fw-bolder fst-italic text-primary text-center">SUNGLASSES</p>
        </li>
        <li>
          <img src="../assets/images/Index-page/home-section3-3.png" alt="" class="mb-1">
          <p class="fs-2 fw-bolder fst-italic text-primary text-center">FUNCTIONAL</p>
        </li>
      </ul>
    </div>

    <div class="design py-6">
      <div class="container">
        <h2 class="fs-2 fw-bold text-center text-light mb-5">聯名設計鏡框</h2>
        <ul class="d-flex">
          <li>
            <img src="../assets/images/Index-page/home-section4-1.png" alt="">
            <p class="fs-2 fw-bold fst-italic text-center text-primary bg-light py-1">DOUBLE A+</p>
          </li>
          <li>
            <img src="../assets/images/Index-page/home-section4-2.png" alt="">
            <p class="fs-2 fw-bold fst-italic text-center text-primary bg-light py-1">YOUTH</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="recommend container py-6">
      <h2 class="fs-2 fw-bold text-center text-secondary mb-5">顧客推薦</h2>
      <ul class="d-flex justify-content-between">
        <li class="card d-flex flex-column">
          <img src="../assets/images/Index-page/home-section5-1.png" alt="">
          <div class="card-content h-100 d-flex flex-column justify-content-between py-2 px-2">
            <div class="card-caption">
              <p class="mb-1 fw-medium">Jessy</p>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="card-muted fs-7">2021/06/20</p>
          </div>
        </li>
        <li class="card d-flex flex-column">
          <img src="../assets/images/Index-page/home-section5-2.png" alt="">
          <div class="card-content h-100 d-flex flex-column justify-content-between py-2 px-2">
            <div class="card-caption">
              <p class="mb-1 fw-medium">凱倫</p>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="card-muted fs-7">2021/04/18</p>
          </div>
        </li>
        <li class="card d-flex flex-column">
          <img src="../assets/images/Index-page/home-section5-3.png" alt="">
          <div class="card-content h-100 d-flex flex-column justify-content-between py-2 px-2">
            <div class="card-caption">
              <p class="mb-1 fw-medium">悠悠</p>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="card-muted fs-7">2020/12/25</p>
          </div>
        </li>
        <li class="card d-flex flex-column">
          <img src="../assets/images/Index-page/home-section5-4.png" alt="">
          <div class="card-content h-100 d-flex flex-column justify-content-between py-2 px-2">
            <div class="card-caption">
              <p class="mb-1 fw-medium">Kyuan</p>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="card-muted fs-7">2020/10/31</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="contact bg-info py-6">
      <div class="contact-wrap container">
        <h2 class="fs-2 fw-bold text-center text-secondary mb-5">聯絡我們</h2>
        <p class="fs-5 mb-3">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form class="form" action="#">
          <div class="mb-2">
            <label class="d-block mb-1" for="name">姓名</label>
            <input class="form-input fs-6 bg-info w-100" type="text" id="name" placeholder="陳小明">
          </div>
          <div class="mb-2">
            <label class="d-block mb-1" for="tel">聯絡電話</label>
            <input class="form-input fs-6 bg-info w-100" type="tel" id="tel" placeholder="0912-345-678">
          </div>
          <div class="mb-2">
            <label class="d-block mb-1" for="mail">電子郵件</label>
            <input class="form-input fs-6 bg-info w-100" type="mail" id="mail" placeholder="example@email.com">
          </div>
          <div class="mb-2">
            <label class="d-block mb-1" for="message">意見反應</label>
            <textarea class="form-input fs-6 bg-info w-100" name="message" id="message" rows="10" placeholder="請輸入您的意見"></textarea>
          </div>
          <div class="d-flex align-items-start">
            <input class="form-check me-1" type="checkbox" name="check" id="check">
            <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <button type="button" class="fs-6 fw-bold bg-primary text-light d-block"><span>確認送出</span></button>
        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
